body{
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0%;
    
}
h4{
    margin: 0%;
}
.navigation{
    display: grid;
    position: fixed;
    background-color: rgb(254, 190, 126, .25);
    grid-template-columns: repeat(3,1fr);
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
#icon{
    width: 36px;
}
/* .nav-box{
    flex-direction: row;
} */
.nav-box:nth-child(1){
    display: flex;
    grid-column: 1/2;

}
.nav-box:nth-child(2){
    display: flex;
    grid-column: 3/4;
    justify-content: flex-end;
    align-items: center;
}
.nav-box a{
    text-align: right;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}

#home{
    display: flex;
    background: linear-gradient(180deg, #57385c 0%, #a75265 100%);
    height: 100vh;
    width: 100vw; 
    justify-content: center;   
    flex-wrap: wrap;
}
#home-logo{
    justify-content: center;
    align-self: center;
}
.break{
    flex-basis: 100%;
    height: 0;
}
#home-message{
    color: white;
    text-align: center;
    white-space: pre-wrap;
}

#about-me{
    background: linear-gradient(180deg, #a75265 0%, #ec7263 100%);
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.about-me-text{
    background-color: rgb(0, 0, 0,.1);
    color: rgb(255, 255, 255, .8);
    height: 40vh;
    width: 40vw;
    overflow: auto;
    box-shadow: -5px -5px 5px -2px white;

}
.about-me-text h1{
    text-align: center;
    font-size: 30px;
}
.about-me-text span{
    color: black;
}
.about-me-images{
    display: flex;
    background-color: rgb(0, 0, 0,.1);
    height: 40vh;
    width: 50vw;
    border-radius: 2px;
    box-shadow: 5px 5px 5px -2px white;
    justify-content: center;
    align-content: center;
}
.images{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#projects{
    background: linear-gradient(180deg, rgba(236, 114, 99) 0%,rgba(167, 82, 101) 100%);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#previous-button{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-self: center;
}
#project-image-container{
    margin: 0 5px;
    height: 60vh;
    width: 60vw;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.project-images{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}
.previous, .next{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(254, 190, 126, .25);
    color: white;
    border-radius: 50%;
    box-shadow: -2px -2px 5px -2px black, 2px 2px 5px -2px black;

}
.previous:hover, .next:hover {
    background-color: rgb(255, 255, 255,.7);
    color: black;
    cursor: pointer;
}
#next-button{
    height: 40px;
    width: 40px;
    display: flex;
    /* border: 5px solid black; */
    border-radius: 50%;
    align-self: center;

}
#description{
    color: white;
    margin: 0 5px;
    height: 25vh;
    width: 40vw;
    display: flex;
    overflow: auto;
    justify-self: center;
    align-self: flex-start;
}

#resume{
    background: linear-gradient(180deg, rgba(167, 82, 101) 0%,#57385c 100%);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}
.education{
    margin-top: 50px;
    height: fit-content;
    text-align: center;
    color: rgb(228, 228, 228);
}
.education h2:hover{
    text-decoration: underline;
}
.title{
    margin: 2px;
}
.school{
    display: none;
    margin: 0;
}
.job{
    display: none;
    margin: 2px
}

#contact{
    background-color: #57385c;
    display: flex;
    height: 25vh;
    width: 100vw;
    justify-content: center;
}